<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <th>글번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>조회수</th>
            </thead>
            <!-- 타임리프를 이용해 리스트 형식의 데이터를 가공할수있도록함 -->
            <tr th:each="list :${list}">
                <td>[[${list.boardId}]]</td>
                <td>[[${list.name}]]</td>
                <td>
                    <a th:href="@{/board/view(boardId=${list.boardId})}">
                        [[${list.title}]]
                    </a>
                </td>
                <td>[[${list.read}]]</td>
            </tr>
        </table>
    </div>
</body>
</html>