<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talk.comm.mapper.BoardMapper">

    <insert id="save" parameterType="board">
        insert into board_table(boardTitle, boardWriter, boardPass, boardContents)
            values(#{boardTitle}, #{boardWriter}, #{boardPass}, #{boardContents})
    </insert>

    <select id="boardCount" resultType="int">
        SELECT count(boardId) AS cnt FROM tbl_board
    </select>
    <select id="getList" resultType="com.talk.comm.domain.Board">
        SELECT
        *
        FROM tbl_board
    </select>
    <select id="getBoard" parameterType="int" resultType="com.talk.comm.domain.Board">
        SELECT
        *
        FROM tbl_board where boardId=#{boardId};
    </select>
</mapper>