<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comment">
    <insert id="save" parameterType="com.talk.comm.dto.CommentDTO">
        insert into
        comment(
            commmentWriter,
            commentContents,
            boardId)
        values(
            #{commentWriter},
            #{commentContents},
            #{boardId})
    </insert>
    
    <select id="findAll" parameterType="Long" resultType="comment">
        select *
        from
            comment
            boardId = #{boardId}
        order by id desc
    </select>

    <select id="findById" parameterType="Long" resultType="com.talk.comm.dto.CommentDTO">
        select *
        from
            comment
        where
            id = #{id}
    </select>
</mapper>