<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <main class="main-container">
            <div class="register-content">
                <h1>회원가입</h1>

                <div class="register-group">
                    <label for="register-username">사용자 이름</label>
                    <div class="input-group">
                        <input type="text" id="register-username" class="register-inputs">
                        <div class="register-error"></div>
                    </div>
                </div>

                <div class="register-group">
                    <label for="register-password">비밀번호</label>
                    <div class="input-group">
                        <input type="password" id="register-password" class="register-inputs">
                        <div class="register-error"></div>
                    </div>
                </div>

                <div class="register-group">
                    <label for="register-repassword">비밀번호 확인</label>
                    <div class="input-group">
                        <input type="password" id="register-repassword" class="register-inputs">
                        <div class="register-error"></div>
                    </div>
                </div>

                <div class="register-group">
                    <label for="register-name">이름</label>
                    <div class="input-group">
                        <input type="text" id="register-name" class="register-inputs">
                        <div class="register-error"></div>
                    </div>
                </div>

                <div class="register-group">
                    <label for="register-email">이메일</label>
                    <div class="input-group">
                        <input type="text" id="register-email" class="register-inputs">
                        <div class="register-error"></div>
                    </div>
                </div>

                <button type="button" class="register-submit">가입하기</button>

            </div>
        </main>
    </div>
    <script src="/static/js/account/register.js"></script>
</body>
</html>