<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>페이지</h1>
            <div class="user-container">
                <ul class="account-container">
                    <a href="/account/register">회원 가입</a>
                    <a href="/account/login">로그인</a>
                    <a href="/board/save">글쓰기</a>
                    <a href="/board/list">글목록</a>
                </ul>
            </div>
        </div>
    </div>
    <script src="/static/js/component/user.js"></script>
    <script src="/static/js/account/principal.js"></script>
</body>
</html>